__pycache__/
*.py[cod]
.venv/
.env
.env.*
.netrc
wandb/
outputs/
assets/
/dataset/
pretrained/
checkpoints/
glove/
HumanML3D/
KIT-ML/
VQVAE/
*.pth
*.pt
*.tar
*.tar.gz
*.zip
*.npy
*.npz
*.pkl
*.log
.DS_Store
